// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primer : #f8fafc;
$segundo : #f8fafc;
$tercero : #f8fafc;
$cuarto : #f8fafc;
$quinto : #f8fafc;

$fuente : "Times New Roman";